.score{
    width: 455px;
    text-align: center;
    margin: 10px auto;
    
}
.score .fen{
    width: 50px;
    height: 30px;
    height: 30px;
    line-height: 30px;
}
#app{
    width: 455px;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
}
td{
    width: 20px;
    height: 20px;
     line-height: 20px;
    color: red;
    text-align: center;
    font-size: 20px;
    border: 1px solid #aaa;
}
#btn{
    width:455px;
    text-align: center;
    margin-top: 20px;
    margin: 20px auto;
}
.btn{
    width: 75px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.startBtn{
    border-color:green;
}
.startBtn:hover{
    border-color: #aaa;
    background-color: green;
    color: #fff;
}
.stopBtn{
    border-color: red;
}
.stopBtn:hover{
    border-color: #aaa;
    background-color: red;
    color: #fff;
}
.restartBtn{
    border-color: orange;
}
.restartBtn:hover{
    border-color: #aaa;
    background-color: orange;
    color:#fff
}